<template>
    <table width="975" cellpadding="2" cellspacing="1" id="playerTable">
        <thead>
        <tr>
            <td width="150"><a href="#" v-on:click.prevent="sortPlayers('fname')">First Name</a></td>
            <td width="150"><a href="#" v-on:click.prevent="sortPlayers('lname')">Last Name</a></td>
            <td width="150"><a href="#" v-on:click.prevent="sortPlayers('hometown')">Hometown</a></td>
            <td width="150"><a href="#" v-on:click.prevent="sortPlayers('year')">Year</a></td>
            <td width="50"><a href="#" v-on:click.prevent="sortPlayers('pts')">Pts</a></td>
            <td width="50"><a href="#" v-on:click.prevent="sortPlayers('ppg')">Ppg</a></td>
            <td width="50"><a href="#" v-on:click.prevent="sortPlayers('rpg')">Rpg</a></td>
            <td width="50"><a href="#" v-on:click.prevent="sortPlayers('tpm')">3pm</a></td>
            <td width="50"><a href="#" v-on:click.prevent="sortPlayers('tpa')">3pa</a></td>
            <td width="200">Actions</td>
        </tr>
        </thead>
        <tbody>

        <tr v-for="(player, index) in players">
            <td>{{ player.fname }}</td>
            <td>{{ player.lname }}</td>
            <td>{{ player.hometown }}</td>
            <td>{{ player.year }}</td>
            <td>{{ player.pts }}</td>
            <td>{{ player.ppg }}</td>
            <td>{{ player.rpg }}</td>
            <td>{{ player.tpm }}</td>
            <td>{{ player.tpa }}</td>
            <td><a href="#" v-on:click.prevent="deletePlayer(player.id)">del</a> |
                <a href="#" v-on:click.prevent="movePlayer(index, -1)">up</a> |
                <a href="#" v-on:click.prevent="movePlayer(index, 1)">down</a>
            </td>
        </tr>

        <tr>
            <td colspan="4"><a href="#" v-on:click.prevent="saveOrder()">Save order</a> | <a href="/">All Players</a> | <a href="/add">Add a player</a></td>
        </tr>

        </tbody>
    </table>
</template>

<script>
export default {
    created() {
        this.loadPlayers();
    },
    data() {
        return {
            players: [], sortOrder: { 'fname' : 1, 'lname': 1, 'hometown': 1, 'year': 1, 'pts': 1, 'ppg': 1, 'rpg': 1, 'tpm': 1, 'tpa': 1}
        }
    },
    methods: {
        loadPlayers() {
            axios.get('http://ec2-3-13-122-204.us-east-2.compute.amazonaws.com/api/players').then(response => {
                this.players = response.data;
                console.log(response.data);
            });
        },
        deletePlayer(id) {
            var conf = confirm("Are you sure you want to delete this player?");
            if (!conf) return false;
            axios.delete("http://ec2-3-13-122-204.us-east-2.compute.amazonaws.com/api/players/" + id)
                .then(response => {
                    if (response.data.message == "player record deleted") {
                        window.location.href = "http://ec2-3-13-122-204.us-east-2.compute.amazonaws.com/"
                    }
                })
        },
        sortPlayers(type) {
            console.log('sort:' + type, this.players)
            var tmpSort = this.sortOrder[type];
            this.sortOrder[type] = tmpSort * -1;
            this.players.sort((a, b) =>
            {
                var a = a[type];
                var b = b[type];

                if ((typeof a) === 'string') {
                    a = a.toLowerCase();
                    b = b.toLowerCase();
                }
                if ( a < b ){
                    return -1 * tmpSort;
                }
                if ( a > b ){
                    return tmpSort;
                }
                return 0;
            });

        },
        saveOrder() {
            var order = [];
            for (var i = 0; i < this.players.length; i++) {
                order.push({ id: this.players[i].id, order: i + 1})
            }
            axios.post('http://ec2-3-13-122-204.us-east-2.compute.amazonaws.com/api/order', order).then(response => {
                console.log(response.data);
            });
        },
        movePlayer(index, direction) {

            if ((index == 0 && direction == -1) || (index == this.players.length - 1 && direction == 1)) {
                return false;
            }

            var tmpPlayer = this.players[index + direction];
            this.$set(this.players, index + direction, this.players[index]);
            this.$set(this.players, index, tmpPlayer);

        }
    }
}
</script>
